# This file lists the Python dependencies for the project.

mediapipe==0.10.14
numpy==2.4.3
opencv_contrib_python==4.13.0.92
opencv_python==4.13.0.92
pygame==2.6.1
PyQt5==5.15.11
pyqt5_sip==12.18.0
pyttsx3==2.99
scipy==1.17.1
